<h1
  style="
    font-size: 24px; /* Tamaño de fuente */
    color: #007bff; /* Color de texto */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Relleno */
    border: 1px solid #007bff; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    text-align: center; /* Alineación de texto */
    justify-content: center;
  "
>
  Lista de indice de sobrepeso
</h1>
<div class="header">
  <div class="info">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.FID }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.NAME }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Indice</th>
        <td mat-cell *matCellDef="let element">{{ element.OBESITY }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="cards">
    <div class="conten-card">
    <mat-card class="example-card">
      <mat-card-title>Mayor indice</mat-card-title>
      <mat-card-content>
        <p>{{ this.MAYOR }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-title>Menor indice</mat-card-title>
      <mat-card-content>
        <p>{{ this.menor }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-title>Indice promedio</mat-card-title>
      <mat-card-content>
        <p>{{ this.promedio}}</p>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
<div  class="mpa">
<h2 style="justify-content: center; align-items: center;">Mapa de USA</h2>
<div class="mapa">
<div id="map"></div>
</div>
</div>
